@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--secondary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: rgb(42, 45, 55);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(71, 75, 87);
  border-radius: 14px;
  border: 3px solid rgb(48, 49, 53);
}

@layer utilities {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-gray-950;
  }
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .carousel-dot-list-overriden {
    @apply gap-2 top-3;
    justify-content: end !important;
    margin-right: 2rem !important;
  }
}

@media (max-width: 515px) {
  .xs-details-img {
    width: 8rem;
    min-width: 8rem;
    height: 70%;
    align-self: start;
  }

  .xs-details-tabbox {
    transform: translateY(-5rem);
    height: 108%;
  }
}
